flows.json
[
    {
        "id": "9030851c42432014",
        "type": "tab",
        "label": "Jogo da velha",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "211011c10844c3e1",
        "type": "group",
        "z": "9030851c42432014",
        "name": "Tabuleiro",
        "style": {
            "label": true,
            "label-position": "ne",
            "color": "#000000",
            "stroke": "#000000"
        },
        "nodes": [
            "a117aca8bd8703c8",
            "0916bf2512a95373",
            "f2bff98ff7e10c17",
            "05a89e53083ee0ee",
            "6657ac4a0e5cfe1b",
            "f366c8fae13c01aa",
            "74e832591c72aa8f",
            "1ffb21dd7fa92d29",
            "15133eb3229b6157",
            "104ef198d4d12637",
            "41639fc44b40d508",
            "e717a625f65520a3",
            "b569bc22894b9008",
            "25657ae927388764",
            "7b67bbec53c36ffd",
            "b30893208df992df",
            "86b61020fe6d3f8e",
            "ad42ca2814592c72",
            "985e18c75d2db5a6"
        ],
        "x": 394,
        "y": 59,
        "w": 532,
        "h": 402
    },
    {
        "id": "0b3d70014887c9cb",
        "type": "group",
        "z": "9030851c42432014",
        "name": "Simulação",
        "style": {
            "stroke": "#000000",
            "label": true,
            "label-position": "ne",
            "color": "#000000"
        },
        "nodes": [
            "f0c3efdaab3c5e69",
            "421649b272087cc5",
            "8f242a50370c5be4",
            "41c85aa11946ab92",
            "56a3e7946bdd042e",
            "c08aed8952f2b72b"
        ],
        "x": 114,
        "y": 79,
        "w": 212,
        "h": 282
    },
    {
        "id": "80d78b16978d7b43",
        "type": "group",
        "z": "9030851c42432014",
        "name": "Legenda",
        "style": {
            "stroke": "#000000",
            "label": true,
            "label-position": "ne",
            "color": "#000000"
        },
        "nodes": [
            "f8b3cee3847cb5f9",
            "bd724146e4321bff"
        ],
        "x": 54,
        "y": 379,
        "w": 312,
        "h": 82
    },
    {
        "id": "ab8525e315c0175a",
        "type": "group",
        "z": "9030851c42432014",
        "name": "Jogada",
        "style": {
            "stroke": "#000000",
            "label": true,
            "label-position": "ne",
            "color": "#000000"
        },
        "nodes": [
            "47615f1844aa1acf",
            "d4035f82b43b3671",
            "d71293b3914edf57"
        ],
        "x": 374,
        "y": 479,
        "w": 472,
        "h": 82
    },
    {
        "id": "f0c3efdaab3c5e69",
        "type": "inject",
        "z": "9030851c42432014",
        "g": "0b3d70014887c9cb",
        "name": "Jogo da velha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"000000000\" }",
        "payloadType": "str",
        "x": 230,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a117aca8bd8703c8",
        "type": "json",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "18a629129dd16eb2",
                "f2bff98ff7e10c17",
                "41639fc44b40d508",
                "e717a625f65520a3",
                "b569bc22894b9008",
                "25657ae927388764",
                "7b67bbec53c36ffd",
                "b30893208df992df",
                "86b61020fe6d3f8e",
                "ad42ca2814592c72"
            ]
        ]
    },
    {
        "id": "18a629129dd16eb2",
        "type": "debug",
        "z": "9030851c42432014",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "421649b272087cc5",
        "type": "inject",
        "z": "9030851c42432014",
        "g": "0b3d70014887c9cb",
        "name": "Jogo da velha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"111111111\" }",
        "payloadType": "str",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "a117aca8bd8703c8"
            ]
        ]
    },
    {
        "id": "8f242a50370c5be4",
        "type": "inject",
        "z": "9030851c42432014",
        "g": "0b3d70014887c9cb",
        "name": "Jogo da velha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"222222222\" }",
        "payloadType": "str",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "a117aca8bd8703c8"
            ]
        ]
    },
    {
        "id": "41c85aa11946ab92",
        "type": "inject",
        "z": "9030851c42432014",
        "g": "0b3d70014887c9cb",
        "name": "Jogo da velha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"111222111\" }",
        "payloadType": "str",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "a117aca8bd8703c8"
            ]
        ]
    },
    {
        "id": "56a3e7946bdd042e",
        "type": "inject",
        "z": "9030851c42432014",
        "g": "0b3d70014887c9cb",
        "name": "Jogo da velha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"111\" }",
        "payloadType": "str",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "a117aca8bd8703c8"
            ]
        ]
    },
    {
        "id": "c08aed8952f2b72b",
        "type": "inject",
        "z": "9030851c42432014",
        "g": "0b3d70014887c9cb",
        "name": "Jogo da velha",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"tabuleiro\": \"11122211\" }",
        "payloadType": "str",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "a117aca8bd8703c8"
            ]
        ]
    },
    {
        "id": "0916bf2512a95373",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 2,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "1",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "f2bff98ff7e10c17",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 1",
        "func": "msg.payload = msg.payload.tabuleiro [1]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 140,
        "wires": [
            [
                "0916bf2512a95373"
            ]
        ]
    },
    {
        "id": "05a89e53083ee0ee",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 3,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "2",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "6657ac4a0e5cfe1b",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 4,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "3",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "f366c8fae13c01aa",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 5,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "4",
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "74e832591c72aa8f",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 6,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "5",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "1ffb21dd7fa92d29",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 7,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "6",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "15133eb3229b6157",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 8,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "7",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "104ef198d4d12637",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 9,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "8",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "41639fc44b40d508",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 2",
        "func": "msg.payload = msg.payload.tabuleiro [2]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [
            [
                "05a89e53083ee0ee"
            ]
        ]
    },
    {
        "id": "e717a625f65520a3",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 3",
        "func": "msg.payload = msg.payload.tabuleiro [3]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "6657ac4a0e5cfe1b"
            ]
        ]
    },
    {
        "id": "b569bc22894b9008",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 4",
        "func": "msg.payload = msg.payload.tabuleiro [4]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 260,
        "wires": [
            [
                "f366c8fae13c01aa"
            ]
        ]
    },
    {
        "id": "25657ae927388764",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 5",
        "func": "msg.payload = msg.payload.tabuleiro [5]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "74e832591c72aa8f"
            ]
        ]
    },
    {
        "id": "7b67bbec53c36ffd",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 6",
        "func": "msg.payload = msg.payload.tabuleiro [6]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "1ffb21dd7fa92d29"
            ]
        ]
    },
    {
        "id": "b30893208df992df",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 7",
        "func": "msg.payload = msg.payload.tabuleiro [7]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 380,
        "wires": [
            [
                "15133eb3229b6157"
            ]
        ]
    },
    {
        "id": "86b61020fe6d3f8e",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 8",
        "func": "msg.payload = msg.payload.tabuleiro [8]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 420,
        "wires": [
            [
                "104ef198d4d12637"
            ]
        ]
    },
    {
        "id": "ad42ca2814592c72",
        "type": "function",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "name": "function 0",
        "func": "msg.payload = msg.payload.tabuleiro [0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "985e18c75d2db5a6"
            ]
        ]
    },
    {
        "id": "985e18c75d2db5a6",
        "type": "ui_led",
        "z": "9030851c42432014",
        "g": "211011c10844c3e1",
        "order": 1,
        "group": "43754835dc68b3a4",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "0",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "f8b3cee3847cb5f9",
        "type": "ui_button",
        "z": "9030851c42432014",
        "g": "80d78b16978d7b43",
        "name": "",
        "group": "0fbc79be28faa1bd",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Jogador 1",
        "tooltip": "",
        "color": "black",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "bd724146e4321bff",
        "type": "ui_button",
        "z": "9030851c42432014",
        "g": "80d78b16978d7b43",
        "name": "",
        "group": "0fbc79be28faa1bd",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Jogador 2",
        "tooltip": "",
        "color": "black",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "47615f1844aa1acf",
        "type": "ui_text_input",
        "z": "9030851c42432014",
        "g": "ab8525e315c0175a",
        "name": "",
        "label": "Jogada",
        "tooltip": "",
        "group": "8fdb173efb94b1d6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "d71293b3914edf57"
            ]
        ]
    },
    {
        "id": "d4035f82b43b3671",
        "type": "ui_button",
        "z": "9030851c42432014",
        "g": "ab8525e315c0175a",
        "name": "",
        "group": "8fdb173efb94b1d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enviar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Jogada",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 520,
        "wires": [
            [
                "89d294ed834ab6f6"
            ]
        ]
    },
    {
        "id": "d71293b3914edf57",
        "type": "change",
        "z": "9030851c42432014",
        "g": "ab8525e315c0175a",
        "name": "Jogada",
        "rules": [
            {
                "t": "set",
                "p": "Jogada",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "d4035f82b43b3671"
            ]
        ]
    },
    {
        "id": "89d294ed834ab6f6",
        "type": "debug",
        "z": "9030851c42432014",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "c196220b090f1205",
        "type": "ui_spacer",
        "z": "9030851c42432014",
        "name": "spacer",
        "group": "0fbc79be28faa1bd",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "43754835dc68b3a4",
        "type": "ui_group",
        "name": "Tabuleiro",
        "tab": "2d3d308c59a6e999",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": true,
        "className": ""
    },
    {
        "id": "0fbc79be28faa1bd",
        "type": "ui_group",
        "name": "Legenda",
        "tab": "2d3d308c59a6e999",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": true,
        "className": ""
    },
    {
        "id": "8fdb173efb94b1d6",
        "type": "ui_group",
        "name": "Jogada",
        "tab": "2d3d308c59a6e999",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2d3d308c59a6e999",
        "type": "ui_tab",
        "name": "Jogo da velha",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]